@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "div");
    tag.AddCssClass("article-details");
}

@tag.StartElement
<div class="header">

    @Display(Model.Header)

    @if (Model.Meta != null)
    {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }
</div>

<div class="body">
    @Display(Model.Content)
</div>

@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}

@tag.EndElement