@using Orchard.Mvc.Html
@using Orchard.UI.Resources
@using Codesanook.Common.Web

@{

    RegisterLink(new LinkEntry { Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/Themes/TheBootstrapMachine/Content/favicon.ico") });
    // Register in ResourceManifest
    Script.Require("React").AtHead();
    Script.Require("ReactDOM").AtHead();
    Style.Include("style.css").AtHead();
    Script.Include("main-bundle.js").AtHead();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="@Html.ClassForPage()">
<head>
    <meta charset="utf-8" />
    <title>@Html.Title(title, siteName)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pridi|Taviraj" rel="stylesheet">
    @Display(Model.Head)
</head>
<body>
    @Display(Model.AfterBody)

    @Display(Model.Body)

    @*Shape tracer attach here*@
    @Display(Model.Tail)

    @Html.ReactInitJavaScript()
</body>
</html>