@using Codesanook.Common.Web
@{
    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones
    var contentPath = this.GetUrlPathRelativeToModule("Content");
    var logoImageUrl = this.Combine(contentPath, "images/logo.png");
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class='top-bar'>
                <div class='primary-top-bar order-sm-2'>
                    <div class='social-network'>
                        <a href="https://www.facebook.com/codesanookpage" title="codesanook page">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class='search-bar'>
                        <input type='text' class='text' />
                        <a class='button'><i class="fa fa-search"></i> </a>
                    </div>
                    @Display(New.User())
                </div>
                <div class='secondary-top-bar order-sm-1'>
                    <div class="logo">
                        <a href="/">
                            <img class='image' src="@logoImageUrl" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Navigation != null)
    {
        <div class="row">
            <div class="col-12">
                @Zone(Model.Navigation)
            </div>
        </div>
    }

    @if (Model.BeforeMain != null)
    {
        <div class="row">
            <div class="col-12">
                @Zone(Model.BeforeMain)
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-8">
            @if (Model.Content != null)
            {
                @Zone(Model.Content)
            }
        </div>

        <div class="col-md-4">
            @if (Model.AsideSecond != null)
            {
                @Zone(Model.AsideSecond)
            }
        </div>

        @if (Model.AfterMain != null)
        {
            <div class="row">
                <div class="col-12">
                    @Zone(Model.AfterMain)
                </div>
            </div>
        }

        @if (Model.Footer != null)
        {
            <div class="row">
                <div class="col-12">
                    @Zone(Model.Footer)
                </div>
            </div>
        }
    </div>
</div>
